name: Release

on:
  push:
    branches: [master, next]

jobs:
  publish:
    name: Release
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v3.3.0
        with:
          cache: npm
          node-version: 16

      - name: Install Node.js Dependencies
        run: npm ci --ignore-scripts

      - name: Build Ninja Kit
        run: npm run build && npm run copy:color-schemes

      - name: Release Ninja Kit
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
