name: Test
on:
  pull_request:
    branches: [master, next]
jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@v3.3.0
        with:
          cache: npm
          node-version: 16
      - name: Install Node.js Dependencies
        run: npm ci --ignore-scripts
      - name: Check Files
        run: npm run check
      - name: Build Library
        run: npm run build
      - name: Build Website
        run: npx vite build
      - name: Install Playwright Dependencies
        run: npx playwright install --with-deps
      - name: Test
        run: npm test
      - name: Upload Test Artifacts
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: playwright-test-results
          path: test-results/
    timeout-minutes: 60
